<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/main.css">
  <title>Document</title>
</head>

<body ng-app="toDoApp">
  <h1>My TODOs!</h1>

  <div class="list" ng-controller="mainCtrl">
    <div class="add">
      <a href="#" ng-click="addTodo()"> + Add a New Task</a>
    </div>
    <div class="item">
      <input type="checkbox" />
      <span></span>
      <label>Testing</label>
      <input class="editing-label" type="text">
      <div class="actions">
        <a href="" ng-click="saveTodos()">Save</a>
        <a href="" class="delete" ng-click="deleteTodo(todo, $index)">Delete</a>
      </div>
    </div>
    {{todo}}
  </div>
  <script type='text/javascript' src="vendor/angular.min.js"></script>
  <script type="text/javascript" src="scripts/app.js"> </script>
</body>

</html>